<div class="card-deck mb-3 text-center justify-content-center">
  <div *ngFor="let country of countries">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{country.countryName}}</h4>
      </div>
      <div class="card-body">
        <a routerLink="/leagues/{{country.countryId}}" class="btn btn-lg btn-block btn-primary">See leagues</a>
      </div>
    </div>
  </div>
</div>
