<div class="card-deck mb-6 text-center justify-content-center">
  <div *ngFor="let league of leagues">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{league.leagueName}}</h4>
      </div>
      <div class="card-body">
        <a routerLink="/teams/{{league.leagueId}}" class="btn btn-lg btn-block btn-primary">See league table</a>
      </div>
    </div>
  </div>
</div>
