<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Team</th>
    <th scope="col">Points</th>
    <th scope="col">Match played</th>
    <th scope="col">Match Won</th>
    <th scope="col">Match Draw</th>
    <th scope="col">Match Lost</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let standing of standings">
    <th scope="row">{{standing.leaguePosition}}</th>
    <td>{{standing.teamName}}</td>
    <td>{{standing.points}}</td>
    <td>{{standing.matchPlayed}}</td>
    <td>{{standing.matchWon}}</td>
    <td>{{standing.matchDraw}}</td>
    <td>{{standing.matchLost}}</td>
    <td>
      <button *ngIf="!standing.isSubscribing" (click)='subscribe(standing.teamName)' class="btn btn-lg btn-block btn-outline-primary">Subscribe</button>
      <button *ngIf="standing.isSubscribing" (click)='unsubscribe(standing.teamName)' class="btn btn-lg btn-block btn-primary">Unsubscribe</button>
    </td>
    <td *ngIf="standing.showPhoneInput">
      <input type="number" placeholder="Enter phone number" #phoneInput>
      <button (click)='addPhoneNumber(standing.teamName, phoneInput.value)' class="btn btn-lg btn-block btn-outline-primary">Accept</button>
    </td>
  </tr>
  </tbody>
</table>
