<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Football Sms App</h5>
  <button class="btn btn-outline-primary" [hidden]="userLogged" (click)='facebookLogin()'>Login with Facebook</button>
  <button class="btn btn-outline-primary" [hidden]="!userLogged" (click)='logout()'>Logout</button>
</div>

<div [hidden]="userLogged" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">Log in to use</p>
</div>


<div [hidden]="!userLogged" class="container">
  <router-outlet></router-outlet>
</div>
